{% extends 'comunidades/layout.html' %}
{% load static %}

{% block body %}

<h1>Cómo usar la API:</h1>
<hr>
<h2>Método GET</h2>
<ul>
  <li><span>.../comunidades/  :</span> permite ver una lista de todas las comunidades</li>
  <li><span>.../comunidad/1   :</span> (1 es el número de id de la comunidad) permite ver una comunidad especificando su id</li>

  <li><span>.../delegadas/   :</span> permite ver una lista de todas las delegadas</li>
  <li><span>.../delegada/1   :</span> (1 es el número de id de la delegada) permite ver una delegada especificando su id</li>
  
  <li><span>.../productos/   :</span> permite ver una lista de todos los productos</li>
  <li><span>.../producto/1   :</span> (1 es el número de id del producto) permite ver un producto especificando su id</li>
  
  <li><span>.../pedidos/   :</span> permite ver una lista de todos los pedidos</li>
  <li><span>.../pedido/1   :</span> (1 es el número de id del pedido) permite ver un pedido especificando su id</li>
  </ul>
{% endblock body %}